// p , label {
//   color: #B4B6C1;
// }

// .body{
//   background-color: #FBF4F4 ;
// }

// .conteiner{
//   background-color: #FFFFFF;
//   width: 480;
// }

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: absolute;
  width: 480px;
  height: 407px;
  background-color: #FFFFFF;
  border-radius: 8px;
}

#conteiner{
  height: 100vh;
  background-color: #F2F5FF;
  display: flex;
  flex-direction: column;
  align-items: center;
 justify-content: center;
}

svg{
  position: absolute;
  top: 70px;
}

 p ,label{
  color: #B4B6C1;
}

.form-control{
  width: 350px;
}

