#menu{
  min-height: 100vh;
  width: 380px;
  background-color: white;
}

#main{
  display: flex;
  flex-direction: row;
}

#conteudo{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}