<div id="conteiner">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Coleção</th>
        <th scope="col">Responsável</th>
        <th scope="col">Estação - Lançamento</th>
        <th scope="col">Modelos</th>
        <th scope="col">Orçamento</th>
      </tr>
    </thead>
    <tbody  *ngFor="let colecao of colecoesModificadas">
      <tr (click)="editaColecao(colecao.id)">
        <th>{{colecao.nome}}</th>
        <td>{{colecao.responsavel}}</td>
        <td>{{colecao.estacao}} {{colecao.anoLancamento}}</td>
        <td>{{colecao.quantidadeModelos}}</td>
        <td>{{colecao.orcamento}}</td>
      </tr>
    </tbody>
  </table>
</div>

