<div id="conteiner">
  <form  [formGroup] ="formulario" (ngSubmit)="OnSubmit()">
    <div class="flex-row">
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="text" formControlName="nome">
        <label for="floatingInput">Nome da Coleção</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="text" formControlName="responsavel">
        <label for="floatingInput">Responsavel pela Coleção</label>
      </div>
    </div>
    <div class="flex-row">
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="text" formControlName="estacao">
        <label for="floatingInput">Para Qual Estação</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="text" formControlName="marca">
        <label for="floatingInput">Para Qual Marca Você Esta Criando ?</label>
      </div>
    </div>
    <div class="flex-row">
      <div class="form-floating">
        <input type="number" class="form-control" id="floatingPassword" placeholder="number" formControlName="orcamento">
        <label for="floatingPassword">Qual é o Orçamento dessa Coleção ?</label>
      </div>
      <div class="form-floating">
        <input type="number" class="form-control" id="floatingPassword" placeholder="number" formControlName="anoLancamento">
        <label for="floatingInput">Ano de Lançamento</label>
      </div>
    </div>
    <div class="flex-row">
      <img src="../../../../assets/QuadroRoupas.jpg" alt="Quadro De Roupas">
    </div>
    
      
    <div id="butons">
      <button type="submit" class="btn btn-primary butons" >Salvar</button>
      <button type="button" class="btn btn-primary butons" id="botaoCancelar" (click)="retornarListagem()">Cancelar</button>
      <!-- <button type="button" class="btn h-25 w-40" id="botaoSalvar">Salvar</button>
      <button type="button" class="btn h-25 w-40" id="botaoCancelar">Cancelar</button> -->
    </div>
  </form>
</div>

