
form{
  width: 1000px;;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  gap: 15px;
  background-color: #FFFFFF;
  border-radius: 8px;
  margin-top: 15px;
}
 p ,label,select{
  color: #B4B6C1;
}

.form-control{
  width: 350px;
}

p{
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
}

.flex-row{
  display: flex;
  justify-content: center;
  gap: 50px;
}

#butons{
  margin-top: 10px;
  display: flex;
  justify-content:right;
  gap: 20px;
}

.butons{
  width: 180px;
}

.form-select{
  height: 58px;
  width: 350px;
}

#botaoSalvar{
  background-color: #0073CF;
}
#botaoCancelar{
  background-color: #EBEBEB;
  color: #A098AE;
  border: none;
}
#botaoExcluir{
  background-color: red;
  border: none;
  margin-right: 470px;
}
.form-control-sem-borda{
  border: none !important;
}

.form-control-semBorda{
  border: none;
}
