<div id="conteiner">
  <form [formGroup] ="formulario" *ngIf="formulario" (ngSubmit)="OnSubmit()">
    <div class="flex-row">
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="text" formControlName="nome">
        <label for="floatingInput">Nome do Modelo</label>
      </div>
      <select class="form-select" placeholder="Selecione o tipo do Seu Modelo" formControlName="tipoModelo">
        <option selected >Selecione o tipo do Seu Modelo</option>
        <option value="Bermuda">Bermuda</option>
        <option value="Bíquini">Bíquini</option>
        <option value="Bolsa">Bolsa</option>
        <option value="Boné">Boné</option>
        <option value="Calça">Calça</option>
        <option value="Calçados">Calçados</option>
        <option value="Camisa">Camisa</option>
        <option value="Chápeu">Chápeu</option>
        <option value="Saia">Saia</option>
      </select> 

    </div>
    <div class="flex-row">
      <select class="form-select" placeholder="Selecione o tipo do Seu Coleção" formControlName="colecao">
        <option *ngFor="let colecao of colecoes" value={{colecao.id}}>{{colecao.nome}}</option>
      </select> 
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="text" formControlName="responsavel">
        <label for="floatingInput">Responsavel pelo Modelo</label>
      </div>
    </div>
    <div class="flex-row">
      <div class="form-floating">
        <input type="radio" class="form-control" id="floatingInput" placeholder="text">
        <label for="floatingInput">Possui Bordado ?</label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="bordado" id="inlineRadio1" value="true" formControlName="bordado">
          <label class="form-check-label" for="inlineRadio1">Sim</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="bordado" id="inlineRadio2" value="false" formControlName="bordado">
          <label class="form-check-label" for="inlineRadio2">Não</label>
        </div>
      </div>
      <div class="form-floating">
        <input type="radio" class="form-control" id="floatingPassword" placeholder="number">
        <label for="floatingInput">Possui Estanpa ?</label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="estampa" id="inlineRadio1" value="true" formControlName="estampa">
          <label class="form-check-label" for="inlineRadio1">Sim</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="estampa" id="inlineRadio2" value="false" formControlName="estampa">
          <label class="form-check-label" for="inlineRadio2">Não</label>
        </div>
      </div>

    </div>
    <div class="flex-row">
      <img src="../../../../assets/QuadroRoupas.jpg" alt="Quadro De Roupas">
    </div>
    <div id="butons">
      <button type="button" class="btn btn-primary butons" id="botaoExcluir" (click)="excluir()" routerLink="/home/Modelos">Excluir</button>
      <button type="button" class="btn btn-primary butons" id="botaoCancelar" routerLink="/home/Modelos" >Cancelar</button>
      <button type="submit" class="btn btn-primary butons" routerLink="/home/Modelos" >Atualizar</button>
    </div>
  </form>
</div>

